<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="{{logo_mini}}" width="30px" />
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">WeChat Assistant</h1>
    <p class="lead">Help you to manage your personal WeChat account.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
      Or
      <a class="btn btn-primary btn-lg" href="#" role="button">Acquire Account</a>
    </p>
  </div>
</div>
<div class="alert alert-warning" role="alert" *ngIf="errorMessage.length>2">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Warning!</strong> {{errorMessage}}
</div>

<div class="container" *ngIf="userLoggedIn">
  <div style="text-align:center" *ngIf="!loggedIn && isCustomMsgSetup">
    Step 2:Please click the big "A" to obtain the QR code and scan it.
    <br>
    <img width="300" alt="Angular Logo" src={{logo}} (click)="getQRcode()" *ngIf="qrCodeUrl.length<2">
    <qr-code [value]=qrCodeUrl [size]="300" *ngIf="qrCodeUrl.length > 2 && !startingChatbot"></qr-code>
  </div>
  <app-set-custom-reply [(isCustomMsgSetup)]="isCustomMsgSetup" *ngIf="!isCustomMsgSetup"></app-set-custom-reply>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="checkLogin()" *ngIf="enableCheckLogin()">Check login state after you hit confirm on your phone</button>
  <app-loading *ngIf="startingChatbot"></app-loading>
  <div style="text-align:center" *ngIf="loggedIn">
    You have successfully logged in, starting chatbot...
  </div>
</div>

<div class="container" *ngIf="!userLoggedIn">
  <div class="row">
    <div class="col-xs-2"></div>
    <form class="col-xs-8" (ngSubmit)="userLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </form>
    <div class="col-xs-2"></div>
  </div>
</div>